<app-modal [(show)]="show" modalClass="basic">
  <div class="ui icon header inverted">
    <i class="icon info circle"></i>
    <div class="content">
      OpenVPN Client Configuration File Usage Guidelines
      <div class="sub header">
        <span *ngIf="isLinuxClient; else non_linux_client_header">For Linux</span>
        <ng-template #non_linux_client_header>For non-Linux OS</ng-template>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="ui list large">
      <div class="item">
        <i class="icon yellow triangle exclamation"></i>
        <div class="content">
          This configuration file contains your personal private key. You must not share it with other people or keep it in a public device.
        </div>
      </div>
      <div class="item">
        <i class="icon yellow triangle exclamation"></i>
        <div class="content">
          If you confirm or suspect that your configuration file has been copied to other people or exposed to a
          public network, please contact the system administrators ASAP. They will revoke your current credentials
          and generate a new one for you.
        </div>
      </div>
      <div class="item">
        <i class="icon green check"></i>
        <div class="content">
          You may use this configuration file in multiple devices and have multiple connections at the same time.
        </div>
      </div>
      <div class="item">
        <i class="icon green check"></i>
        <div class="content">
          If you have lost your local copy of the configuration file, you can download it again from here.
        </div>
      </div>
      <div class="item" *ngIf="isLinuxClient; else non_linux_client">
        <i class="icon dont red"></i>
        <div class="content">
          You should not use this configuration file in non-Linux operating systems.
        </div>
      </div>
      <ng-template #non_linux_client>
        <div class="item">
          <i class="icon green check"></i>
          <div class="content">
            You may use this configuration file in all the major desktop/mobile operating systems except Linux.
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="actions">
    <button class="ui inverted red basic button" (click)="show=false"><i class="icon times"></i> Cancel</button>
    <ng-container *ngIf="credential">
      <a class="ui inverted green button" href="api/my-credentials/{{credential.id}}/export-config?linux=true" *ngIf="isLinuxClient; else btn_other_os">
        <i class="icon check"></i> I Get It!
      </a>
      <ng-template #btn_other_os>
        <a class="ui inverted green button" href="api/my-credentials/{{credential.id}}/export-config">
          <i class="icon check"></i> I Get It!
        </a>
      </ng-template>
    </ng-container>
  </div>
</app-modal>
