<div class="ui container">
  <div class="ui grid middle aligned stackable centered">
    <div class="column twelve wide">
      <div class="ui center aligned header">
        <img src="static/assets/logo-256.png" alt="">
        VPN Manager
      </div>

      <app-error [error]="error" *ngIf="error"></app-error>

      <app-client-config-download-modal [isLinuxClient]="downloadConfigForLinux" [(show)]="showDownloadConfigModal"
                                        [credential]="activeCredential"></app-client-config-download-modal>

      <div class="ui segment basic">
        <div class="ui loader text inline active centered" *ngIf="loadingUser">Loading User Info...</div>
        <div class="ui loader text inline active centered" *ngIf="loadingClient">Loading My Client Info...</div>

        <ng-container *ngIf="client">
          <ng-container *ngIf="activeCredential; else no_active_credential">

            <div class="ui stackable four doubling cards home-actions-cards">
              <div class="card">
                <div class="content center aligned">
                  <i class="big linux icon"></i>
                  <div class="header">Linux Config</div>
                  <div class="meta">Download .ovpn for Linux</div>
                </div>
                <div class="extra content center aligned">
                  <button class="ui fluid primary blue button" (click)="startDownload(true)">
                    <i class="download icon"></i>
                    Download
                  </button>
                </div>
              </div>

              <div class="card">
                <div class="content center aligned">
                  <i class="big desktop icon"></i>
                  <div class="header">Other OS Config</div>
                  <div class="meta">Windows / macOS config</div>
                </div>
                <div class="extra content center aligned">
                  <button class="ui fluid primary blue button" (click)="startDownload(false)">
                    <i class="download icon"></i>
                    Download
                  </button>
                </div>
              </div>

              <div class="card">
                <div class="content center aligned">
                  <i class="big cog icon"></i>
                  <div class="header">Setup Guide</div>
                  <div class="meta">Read the client manual</div>
                </div>
                <div class="extra content center aligned">
                  <a routerLink="/client-setup" class="ui fluid basic violet button">
                    <i class="file alternate outline icon"></i>
                    View guide
                  </a>
                </div>
              </div>

              <div class="card">
                <div class="content center aligned">
                  <i class="big user icon"></i>
                  <div class="header">My Client</div>
                  <div class="meta">View client details</div>
                </div>
                <div class="extra content center aligned">
                  <a routerLink="/my-client" class="ui fluid button basic black">
                    <i class="info circle icon"></i>
                    View details
                  </a>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #no_active_credential>
            <div class="ui placeholder segment">
              <div class="ui icon header">
                <i class="icon frown outline"></i>
                <div class="content">
                  No Credentials Available
                  <div class="sub header">You have no credentials or all your credentials have been revoked. Please contact the system administrators to get a usable credential.</div>
                </div>
              </div>
              <a routerLink="/my-client" class="ui button"><i class="icon user"></i>My Client Details</a>
            </div>
          </ng-template>
        </ng-container>
      </div>

      <ng-container *ngIf="user">
        <div class="ui segment basic center aligned">

          <div class="ui basic buttons">
            <a class="ui basic button" href="account/profile" target="_blank">
              <i class="icon user circle"></i> {{user.nickname || user.name}}
            </a>
            <a class="ui basic button" routerLink="/admin" *ngIf="isAdmin">
              <i class="icon cogs"></i> Management
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
