<div class="ui label top attached"
     [ngClass]="{'red': cred.is_revoked, 'green': !cred.is_revoked && !is_invalid, 'yellow': !cred.is_revoked && is_invalid}">
  <i class="icon key"></i> Credential #{{cred.id}}
</div>

<div class="ui list horizontal">
  <div class="item">
    <div class="header">ID</div>
    <div class="content">{{cred.id}}</div>
  </div>
  <div class="item">
    <div class="header">Is Revoked?</div>
    <div class="content">{{cred.is_revoked ? 'Yes' : 'No'}}</div>
  </div>
  <div class="item">
    <div class="header">Revoked At</div>
    <div class="content">
      <span *ngIf="cred.revoked_at; else no_revoked_at">{{cred.revoked_at | date: 'medium' }}</span>
      <ng-template #no_revoked_at>N/A</ng-template>
    </div>
  </div>
  <div class="item">
    <div class="header">Is Imported?</div>
    <div class="content">{{cred.is_imported ? 'Yes' : 'No'}}</div>
  </div>
  <div class="item">
    <div class="header">Created At</div>
    <div class="content">{{cred.created_at | date: 'medium'}}</div>
  </div>
  <div class="item">
    <div class="header">Updated At</div>
    <div class="content">{{cred.modified_at | date: 'medium'}}</div>
  </div>
</div>

<div class="ui divider horizontal">
  Certificate
</div>

<ng-container *ngIf="cred.cert; else no_cert">
  <div class="ui list horizontal cert-meta">
    <div class="item">
      <div class="header">Version</div>
      <div class="content">{{cred.cert.version}}</div>
    </div>
    <div class="item">
      <div class="header">Serial Number</div>
      <div class="content">{{cred.cert.serial_number}}</div>
    </div>
    <div class="item">
      <div class="header">Validity Start</div>
      <div class="content">{{cred.cert.validity_start | date: 'medium'}}</div>
    </div>
    <div class="item">
      <div class="header">Validity End</div>
      <div class="content">{{cred.cert.validity_end | date: 'medium'}}</div>
    </div>
    <div class="item">
      <div class="header">Signature Algorithm</div>
      <div class="content">{{cred.cert.signature_algorithm}}</div>
    </div>
    <div class="item">
      <div class="header">Public Key Type</div>
      <div class="content">{{cred.cert.public_key.type}}</div>
    </div>
    <div class="item">
      <div class="header">Public Key Bits</div>
      <div class="content">{{cred.cert.public_key.bits}}</div>
    </div>
  </div>

  <div class="ui grid stackable cert-tables">
    <div class="four wide column">
      <div class="ui header">
        Issuer
      </div>
      <table class="ui table very compact unstackable definition">
        <tbody>
        <tr *ngFor="let item of cred.cert.issuer | keyvalue">
          <td>{{item.key}}</td>
          <td class="word-break-word">{{item.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="four wide column">
      <div class="ui header">
        Subject
      </div>
      <table class="ui table very compact unstackable definition">
        <tbody>
        <tr *ngFor="let item of cred.cert.subject | keyvalue">
          <td>{{item.key}}</td>
          <td class="word-break-word">{{item.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="eight wide column">
      <div class="ui header">
        Extensions
      </div>

      <table class="ui table very compact definition">
        <tbody>
        <tr *ngFor="let ext of cred.cert.extensions">
          <td>{{ext.name}} <i class="icon exclamation circle" *ngIf="ext.is_critical"></i></td>
          <td class="word-break-all">{{ext.text}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<ng-template #no_cert>
  <div class="ui segment placeholder">
    <div class="ui header center aligned">
      No Certificate
    </div>
  </div>
</ng-template>

<div class="ui divider horizontal">
  Private Key
</div>

<ng-container *ngIf="cred.pkey; else no_pkey">
  <div class="ui list horizontal">
    <div class="item">
      <div class="header">Type</div>
      <div class="content">{{cred.pkey.type}}</div>
    </div>
    <div class="item">
      <div class="header">Bits</div>
      <div class="content">{{cred.pkey.bits}}</div>
    </div>
  </div>
</ng-container>
<ng-template #no_pkey>
  <div class="ui segment placeholder">
    <div class="ui header center aligned">
      No Private Key
    </div>
  </div>
</ng-template>

<ng-container *ngIf="adminMode; else user_mode_actions">
  <div class="ui divider horizontal">
    Admin Actions
  </div>
  <p>
    <a class="ui button" href="api/admin/credentials/{{cred.id}}/export-config?linux=true"><i class="icon download"></i> Download Client Config for Linux</a>
    <a class="ui button" href="api/admin/credentials/{{cred.id}}/export-config"><i class="icon download"></i> Download Client Config for Other OS</a>
    <button class="ui button yellow" *ngIf="cred.is_revoked; else revoke_btn" [ngClass]="{'loading disabled': unrevoking}" (click)="unrevoke()"><i class="icon redo alternate"></i> Unrevoke Credential</button>
    <ng-template #revoke_btn>
      <button class="ui button red" [ngClass]="{'loading disabled': revoking}" (click)="revoke()"><i class="icon times"></i> Revoke Credential</button>
    </ng-template>
  </p>
</ng-container>
<ng-template #user_mode_actions>
  <ng-container *ngIf="!cred.is_revoked && !is_invalid">
    <div class="ui divider horizontal">
      Actions
    </div>
    <p>
      <a class="ui button" href="api/my-credentials/{{cred.id}}/export-config?linux=true"><i class="icon download"></i> Download Client Config for Linux</a>
      <a class="ui button" href="api/my-credentials/{{cred.id}}/export-config"><i class="icon download"></i> Download Client Config for Other OS</a>
    </p>
  </ng-container>
</ng-template>



