<table class="ui table unstackable striped selectable compact" *ngIf="clients">
  <thead>
  <tr><th>#</th><th>ID</th><th>User ID</th><th>Name</th><th>Email</th><th>Created At</th><th>Updated At</th><th>Credentials</th><th>Operations</th></tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients; index as i">
    <td>{{i+1}}</td>
    <td>{{client.id}}</td>
    <td>{{client.user_id}}</td>
    <td>{{client.name}}</td>
    <td>{{client.email}}</td>
    <td>{{client.created_at | date: 'short'}}</td>
    <td>{{client.modified_at | date: 'short'}}</td>
    <td [ngClass]="{'positive': client._num_available_credentials, 'negative': client._num_revoked_credentials > 0 && client._num_available_credentials == 0}">
      {{client.credentials.length}}
      ({{client._num_available_credentials}} Available, {{client._num_revoked_credentials}} Revoked)
    </td>
    <td>
      <div class="ui buttons mini">
        <a routerLink="clients/{{client.id}}" class="ui icon button"><i class="icon ellipsis horizontal"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
