<app-error [error]="error" *ngIf="error"></app-error>

<div class="ui segment padded basic" *ngIf="loadingClients">
  <div class="ui loader active centered text inline">Loading Client List...</div>
</div>

<app-clients-table [clients]="clients" [newClient]="imported_client" *ngIf="clients"></app-clients-table>

<div class="ui segment basic center aligned" *ngIf="clients">
  <div class="ui button primary" (click)="show_import_modal=true"><i class="icon plus"></i>Import Client</div>
</div>

<app-modal [(show)]="show_import_modal" modalClass="mini">
  <i class="close icon" (click)="show_import_modal=false"></i>
  <div class="header">Import Client</div>
  <div class="content">
    <app-error [error]="import_error" *ngIf="import_error"></app-error>

    <form class="ui form" #f="ngForm" (ngSubmit)="importClient(f)" [ngClass]="{'loading':importing_client}">
      <div class="required field" [ngClass]="{'error': (f.submitted || user_id_model.touched || user_id_model.dirty) && user_id_model.invalid}">
        <label>User ID</label>
        <input type="number" min="1" name="user_id" [(ngModel)]="import_client_form.user_id" #user_id_model="ngModel" required>
        <div class="errors" *ngIf="user_id_model.errors">
          <label *ngIf="user_id_model.errors.required"><i class="times icon"></i> User ID is required</label>
        </div>
      </div>
      <button type="submit" class="ui button primary fluid"><i class="icon plus"></i> Import Client</button>
    </form>
  </div>
</app-modal>
